.game
{
	display:grid;
	grid-template-rows: auto;
}
.buttons
{
	background-color: blueviolet;
	padding:5px;
}
.dealer
{
	background-color: darkslateblue;
	color:white;
	text-align: center;
}
.cards
{
	display:grid;
	grid-template-columns: auto auto;
	background-color: darkcyan;
	color:white;
	text-align: center;
	max-width: 50%;
}