.game
{
	display:grid;
	grid-template-rows: auto;
}
.buttons
{
	background-color: blueviolet;
	padding:5px;
}
.dealer
{
	background-color: darkslateblue;
	color:white;
	text-align: center;
}
.cards
{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	background-color: rgb(15, 161, 161);
	color:white;
	text-align: center;
	max-width: 50%;
}

.card-window
{
	display:grid;
	grid-template-columns: auto auto;
	padding:10px;
}

.card-disp
{
	border: thin solid black;
	border-radius: 16px;
	display: grid;
	align-items: center;
	justify-items: center;
	padding:10px;
}

.info
{
	background-color: rgb(50, 88, 119);
}

.results
{
	color:white;
}